udp-packer/.idea/
udp-packer/node_modules/
udp-packer/dist/
udp-packer/tsconfig.tsbuildinfo
cloud-server/node_modules/
udp-packer/.nyc_output/
cloud-server/.idea/
cloud-server/tsconfig.tsbuildinfo
cloud-server/dist/
image-receiver/tsconfig.tsbuildinfo
image-receiver/.idea/
image-receiver/dist/
image-receiver/node_modules/
drone-posix/.idea/
drone-posix/cpp/.idea/
drone-posix/cpp/cmake-build-debug/
drone-posix/node_modules/
inner-comms/dist/
inner-comms/node_modules/
inner-comms/.idea/
drone-posix/cmake-build-debug/
*.tsbuildinfo
motor-control/.idea/
outer-comms/node_modules/
outer-comms/.idea/
outer-comms/dist/
python-inner-comms/.idea/
drone-node/node_modules/
drone-python/.idea/
drone-node/dist/
drone-node/.idea/
face-detection/.idea/
face-detection/__pycache__/
face-detection/faced/__pycache__/
face-detection/models/
face-detection/big_bang_12_04.mp4
face-detection/faced/models/
*.pyc
face_detection/models/
face_detection/.idea/
*.mp4
face_detection/faced/models/
