<div tabindex="0"
     (keyup.arrowUp)="arrowUp($event)"
     (keyup.arrowDown)="arrowDown($event)"
     (keyup.arrowLeft)="arrowLeft($event)"
     (keyup.arrowRight)="arrowRight($event)">

    <ul class="list-inline">
        <li class="list-inline-item">
            <button class="btn btn-success">
                Start control
            </button>
        </li>

        <li class="list-inline-item">
            <linear-gauge [options]="gaugeOptions" [value]="direction" id="linear-gauge" width="400" height="150"></linear-gauge>
            <radial-gauge [options]="accelerationOptions" [value]="acceleration" width="400" height="400"></radial-gauge>
        </li>
    </ul>
</div>
